<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link href="static/icones/favicon.ico" rel="icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Dancing+Script&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script href="static/sc.js" rel="script"></script>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="UpHeader" name="header">
                <a href="https://www.biography.com" target="_blanck">
                    <h2 id="sor">Source</h2>
                </a>
                <a href="/About.html" target="_blanck">
                    <h2 id="ab">About</h2>
                </a>
        </div>
        <div id="Header" name="header">
            <h1 style="text-align:center; margin-top: 72.27pt;" id="header">BioGraphy</h1>
            <h3 :hover id="hh">By A.Bahget</h3>
        </div>
        <div>
            <img class="images" style='margin-top: 10px;' src="static/Photos/da-vinci.jpg" width=329.39px height="400px" title="Leonardo da Vinci">
            <a href="/Leonardo da Vinci.html">
                <img class="leo_gate" :hover src="static/Photos/leo.jpg">
            </a>
            <hr>
            <br><br>
            <img class="images" src="static/Photos/Isaac Newton.jpg" width=329.39px height="400px" title="Isaac Newton">
            <a href="/Isaac Newton.html">
                <img class="isa_gate" :hover src="static/Photos/isa.jpg">
            </a>
            <hr>
            <br><br>
            <img class="images" src="static/Photos/Albert Einstein.jpg" width=329.39px height="400px" title="Albert Einstein">
            <a href="/Albert Einstein.html">
                <img class="alb_gate" :hover src="static/Photos/alb.jpg">
            </a>
            <h1 style="opacity: 70%; font-family: 'Roboto', sans-serif; text-align:center;">Author</h1>
            <h2 style="opacity: 70%; font-family: 'Roboto', sans-serif; text-align:center;">Biography.com Editors</h2><br>
        </div>
        <div class="foo" >
            <p id="cont1">
                A project for the final project of Cs50 <br>
                The harverd introduction for the computer science <br>
                and the art of programing.
            </p>
            <div id="cont2">
                <h1 id="foo">Follow Me :</h1>
                <a href="https://www.facebook.com/profile.php?id=100014013094641" target="_blank" >
                    <img :hover class="facebook" style="width: 50px; height:50px;" src="static/icones/facebook2.png">
                </a>
                <a href="https://twitter.com/bahget_abdo" target="_blank" >
                    <img :hover class="twitter" style="width: 50px; height:50px;"src="static/icones/twitter.png">
                </a>
                <a href="https://www.instagram.com/abdolelrhman_bahget/" target="_blank" >
                    <img :hover class="instagram" style="width: 50px; height:50px;"src="static/icones/instagram.png">
                </a>
                <a href="https://www.youtube.com/channel/UCU6nWd54Rk4XrOweZBBVY4Q" target="_blank" >
                    <img :hover class="youtube" style="width: 50px; height:50px;"src="static/icones/youtube.png">
                </a>
            </div>
            <p id="cont3">
                Biography and the Biography logo
                are registered trademarks of A&E Television Networks, LLC;
                All rights goes to Biography
            </p>
        </div>
    </body>
</html>