<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link href="../static/icones/favicon.ico" rel="icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Dancing+Script&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">   
        <title>Leonardo da Vinci</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script href="../static/sc.js" rel="script"></script>
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="UpHeader" name="header">
            <a href="https://www.biography.com/artist/leonardo-da-vinci" target="_blanck">
                <h2 id="sor">Source</h2>
            </a>
            <a href="About.html" target="_blanck">
                <h2 id="ab">About</h2>
            </a>
        </div>
        <div id="Header" name="header">
            <a href="../index.html">
                <h1 style="text-align:center; margin-top: 72.27pt;" id="header">BioGraphy</h1>
            </a>
            <h3 :hover id="hh">By A.Bahget</h3>
        </div>
        <div id="main" :hover  class="ts">
            <div name="heading" class="leo" :hover>
                    <img id="backphoto" :hover src="../static/Photos/Vitruvian Man.jpg">
                    
                    <img id="leo" :hover src="../static/Photos/da-vinci.jpg">
                    <h1 id="a" >Leonardo da Vinci</h1>
                    <a href="https://www.biography.com/" target="_blank">
                        <h6 id="a" style="opacity: 50%; font-family: adobe-arabic, sans-serif; font-size:small;">Biography</h6>
                    </a>
                    <h5 id="a" style="font-size: medium;">(1452 - 1519)</h5>
                    <p>
                        Leonardo da Vinci was a Renaissance artist and engineer, <br>
                        known for paintings like "The Last Supper" and "Mona Lisa,” <br>
                        and for inventions like a flying machine.<br><br>
                    </p>
            </div>
            <div name="the rest">
                    <p id="nat">
                        <b>Who Was Leonardo da Vinci?</b><br>
                        Leonardo da Vinci was a Renaissance painter, sculptor, architect, inventor,<br>
                        military engineer and draftsman — the epitome of a true Renaissance man. <br>
                        Gifted with a curious mind and a brilliant 
                        intellect, da Vinci studied the laws <br>
                        of science and nature, which greatly informed his work. His drawings, paintings <br>
                        and other works have influenced countless artists and engineers over the centuries. 
                    </p>
                    <p id="nat">
                        <br>
                        <b>Early Life</b> <br>
                        Da Vinci was born in a farmhouse outside the village of Anchiano in Tuscany, 
                        <br>
                        Italy (about 18 miles west of Florence) on April 15, 1452.
                        <br><br>
                        Born out of wedlock to respected Florentine notary Ser Piero and a young peasant woman <br>
                        named Caterina, da Vinci was raised by his father and his stepmother. 
                        <br><br>
                        At the age of five, he moved to his father’s estate in nearby Vinci (the town from which his <br>
                        surname derives), where he lived with his uncle and grandparents.
                        <br><br>
                        <b>Education</b> <br>
                        Young da Vinci received little formal education beyond basic reading, writing and mathematics<br>
                        instruction, but his artistic talents were evident from an early age. <br> <br>
                        Around the age of 14, da Vinci began a lengthy apprenticeship with the noted artist<br>
                        Andrea del Verrocchio in Florence. He learned a wide breadth of technical skills including<br>
                        metalworking,leather arts, carpentry, drawing, painting and sculpting. <br><br>
                        His earliest known dated work — a pen-and-ink drawing of a landscape in the Arno valley — was sketched in 1473.
                    </p>
                        <br>
                    <video controls>
                        <source src="../static/1.mp4" type="video/mp4">
                    </video>
                    <p id="nat">
                        <br>
                        <b>Early Works</b>
                        <br><br>
                        At the age of 20, da Vinci qualified for membership as a master artist in Florence’s Guild of <br>
                        Saint Luke and established his own workshop. However, he continued to collaborate with del Verrocchio<br> for an additional five years.<br><br>
                        It is thought that del Verrocchio completed his “Baptism of Christ” around 1475 with the help of <br>
                        his student, who painted part of the background and the young angel holding the robe of Jesus. <br><br>
                        According to Lives of the Most Excellent Painters, Sculptors and Architects, written around 1550<br>
                        by artist Giorgio Vasari, del Verrocchio was so humbled by the superior talent of his pupil that<br>
                        he never picked up a paintbrush again. (Most scholars, however, dismiss Vasari’s account as apocryphal.)<br><br>
                        In 1478, after leaving del Verrocchio’s studio, da Vinci received his first independent commission<br>
                        for an altarpiece to reside in a chapel inside Florence’s Palazzo Vecchio.<br><br>
                        Three years later the Augustinian monks of Florence’s San Donato a Scopeto tasked him to<br>
                        paint “Adoration of the Magi.” The young artist, however, would leave the city and abandon both<br> commissions without ever completing them.
                    </p>
                    <div>
                        <p id="na">
                            <br>
                            <b>Leonardo da Vinci: Paintings</b>
                            <br><br>
                            Although da Vinci is known for his artistic abilities, fewer than two dozen paintings attributed<br>
                            to him exist. One reason is that his interests were so varied that he wasn’t a prolific painter.<br>
                            Da Vinci’s most famous works include the “Vitruvian Man,” “The Last Supper” and the
                            <a href="https://www.history.com/news/the-heist-that-made-the-mona-lisa-famous" target="_blank">“Mona Lisa.”</a> <br><br>
                            <p id="na">
                                <img class="vman" src="../static/Photos/Vitruvian Man.jpg">
                                <h1 class="vman">Vitruvian Man</h1><br><br>
                                <p id="na">
                                    Art and science intersected perfectly in da Vinci’s sketch of “Vitruvian Man,” drawn in 1490,<br>
                                    which depicted a nude male figure in two superimposed positions with his arms and legs<br>
                                    apart inside both a square and a circle.<br><br>
                                </p>
                                <img :hover class="ts" src="../static/Photos/The Last Supper.jpg">
                                <h1 :hover class="ts">The Last Supper</h1> <br>
                                <p id="na">
                                    Around 1495, Ludovico Sforza, then the Duke of Milan, commissioned da Vinci to paint “The Last Supper” <br>on the back wall of the dining hall inside the monastery of Milan’s Santa Maria delle Grazie.
                                    <br><br>
                                    The masterpiece, which took approximately three years to complete, captures the drama of the moment when<br> Jesus informs the Twelve Apostles gathered for Passover dinner that one of them<br>
                                    would soon betray him. The range of facial expressions and the body language of the figures around the table<br> bring the masterful composition to life.
                                    <br><br>
                                    The decision by da Vinci to paint with tempera and oil on dried plaster instead of painting a fresco<br>
                                    on fresh plaster led to the quick deterioration and flaking of “The Last Supper.” Although an<br>
                                    improper restoration caused further damage to the mural, it has now been stabilized using modern conservation techniques. <br><br>
                                    <br>
                                </p>
                                <img :hover class="mo" src="../static/Photos/Mona_Lisa.jpg">
                                <h1 :hover class="mo">Mona Lisa</h1>
                                <p id="na">
                                    <br>
                                    In 1503, da Vinci started working on what would become his most well-known painting — and
                                    arguably the most<br> famous painting in the world —the “Mona Lisa.” The privately commissioned
                                    <br>
                                    work is characterized by the enigmatic smile of the woman in the half-portrait, which derives from<br> da Vinci’s sfumato technique.
                                    <br><br>
                                    Adding to the allure of the “Mona Lisa” is the mystery surrounding the identity of the subject. Princess Isabella of Naples,<br> an unnamed courtesan and da Vinci’s own mother have all been put forth as potential sitters for the masterpiece. It has<br> even been speculated that the subject wasn’t a female at all but da Vinci’s longtime apprentice Salai dressed in women’s clothing.
                                    <br><br>
                                    Based on accounts from an early biographer, however, the "Mona Lisa" is a picture of Lisa del Giocondo,<br> the wife of a wealthy Florentine silk merchant. The painting’s original Italian name — “La Gioconda” — supports the theory,<br> but it’s far from certain. Some art historians believe the merchant commissioned the portrait to celebrate the pending birth<br> of the couple’s next child, which means the subject could have been pregnant at the time of the painting.
                                    <br><BR>
                                    If the Giocondo family did indeed commission the painting, they never received it. For da Vinci, the "Mona Lisa" was forever <br>a work in progress, as it was his attempt at perfection, and he never parted with the painting. Today, the "Mona Lisa" hangs<br> in the Louvre Museum in Paris, France, secured behind bulletproof glass and regarded as a priceless national treasure <br> seen by millions of visitors each year.
                                </p>    
                            </p>
                            
                        </p>
                        <p id="nat">
                            <br><b>Inventions</b><br>
                            In 1482, Florentine ruler Lorenzo de' Medici commissioned da Vinci to create a silver lyre and bring it as a peace gesture to<BR> Ludovico Sforza. After doing so, da Vinci lobbied Ludovico for a job and sent the future Duke of Milan a letter that barely<br> mentioned his considerable talents as an artist and instead touted his more marketable skills as a military engineer.
                            <br><br>
                            Using his inventive mind, da Vinci sketched war machines such as a war chariot with scythe blades mounted on the sides,<br> an armored tank propelled by two men cranking a shaft and even an enormous crossbow that required a small army of<br> men to operate.
                            <br><br>    
                            The letter worked, and Ludovico brought da Vinci to Milan for a tenure that would last 17 years. During his time<br> in Milan, da Vinci was commissioned to work on numerous artistic projects as well, including “The Last Supper.”
                            <br><br>
                            Da Vinci’s ability to be employed by the Sforza clan as an architecture and military engineering advisor as well as<br> a painter and sculptor spoke to da Vinci’s keen intellect and curiosity about a wide variety of subjects. <br>
                        </p>    
                    </div>
            </div>
            <h1 style="opacity: 70%; font-family: 'Roboto', sans-serif; text-align:center;">Author</h1>
            <h2 style="opacity: 70%; font-family: 'Roboto', sans-serif; text-align:center;">Biography.com Editors</h2><br>    
        </div>    
        <div class="foo" >
            <p id="cont1">
                A project for the final project of Cs50 <br>
                The harverd introduction for the computer science <br>
                and the art of programing.
            </p>
            <div id="cont2">
                <h1 id="foo">Follow Me :</h1>
                <a href="https://www.facebook.com/profile.php?id=100014013094641" target="_blank" >
                    <img :hover class="facebook" style="width: 50px; height:50px;" src="../static/icones/facebook2.png">
                </a>
                <a href="https://twitter.com/bahget_abdo" target="_blank" >
                    <img :hover class="twitter" style="width: 50px; height:50px;"src="../static/icones/twitter.png">
                </a>
                <a href="https://www.instagram.com/abdolelrhman_bahget/" target="_blank" >
                    <img :hover class="instagram" style="width: 50px; height:50px;"src="../static/icones/instagram.png">
                </a>
                <a href="https://www.youtube.com/channel/UCU6nWd54Rk4XrOweZBBVY4Q" target="_blank" >
                    <img :hover class="youtube" style="width: 50px; height:50px;"src="../static/icones/youtube.png">
                </a>
            </div>
            <p id="cont3">
                Biography and the Biography logo 
                are registered trademarks of A&E Television Networks, LLC;
                All rights goes to Biography 
            </p>
        </div>
    </body>
</html> 